@charset "UTF-8";

*{
    padding: 0px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html body{
    background-image: url(imagens/pexels-pixabay-531767.jpg);
    max-width: 350px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover; 
    padding-left: 4px;
    padding: 10px;
      
}
ul{
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   
}
li{
    list-style-type: none;
}
nav a{
    color: rgb(233, 229, 27);
    text-decoration: none;
}
nav a:hover{
    color: rgb(229, 0, 0);
}

table{
    color: rgb(21, 13, 97);
    width: 350px;
    border-collapse: collapse;
    position: relative;
    margin: auto;
    
}

td{
    border: 1px solid white;
    text-align: center;
    padding: 3px;
}

td > a{
    color: white;
}
td a:hover{
    color: rgb(255, 0, 34);
}

#cabecalho{
    color: rgb(233, 229, 27);
}



footer{
    padding: 5pxpx;
    text-align: center;
    color: rgb(233, 229, 27);
}