@charset "UTF-8";
/* estilo para euro3 */

*{
    padding: 0px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html body{
   background-color: black;
    max-width: 400px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover; 
    padding-left: 4px;
    margin: auto;  
}
ul{
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   
}
li{
    list-style-type: none;
}
nav a{
    color: darkgray;
    text-decoration: none;
}
nav a:hover{
    color: chartreuse;
}
aside > h1{
    color: darkgrey;
}

table{
    color: darkgray;
    width: 350px;
    border-collapse: collapse;
    position: relative;
    margin: auto;
    
}
table > h1{
    color: darkgray;
    
}

td{
    border: 1px solid white;
    text-align: center;
    padding: 3px;

}
#cabecalho{
    color: lime;
}

#esquema a{
    color: rgb(37, 173, 173);
}

#esquema a:hover{
    color: rgb(223, 135, 135);
}

footer{
    padding: 10px;
    text-align: center;
    color: darkred;
}