@charset "UTF-8";
/* estilos de euro 5*/
*{
    padding: 0px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html body{
    background-color: black;
    max-width: 350px;    
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 4px;
    margin: auto;
   

}
ul{
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 10px;
    
}
li{
    list-style-type: none;
}

nav h1{
    color:rgb(194, 120, 10);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

nav a{
    color: darkgray;
    text-decoration: none;
}
nav a:hover{
    color: chartreuse;
}

aside > h1{
    color: darkgray;
}

table{
    color: darkgray;
    width: 350px;
    border-collapse: collapse;
    position: relative;
    margin: auto;
   
}

td{
    border: 1px solid white;
    text-align: left;
    padding: 1px;

}
#cabecalho{
    color: rgb(194, 120, 10);
    text-align: center;
    
}

a{
    color: rgb(37, 173, 173);
}

 a:hover{
    color: rgb(194, 120, 10);
}

footer{   
   padding: 10px;
    text-align: center;
    color: darkgray;
}