@charset "UTF-8";
/* ESTILO DA PAGINA INICIAL */

*{
    padding: 0px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html body{
    background-image: url(../imagens/pexels-jeshoots-1000.jpg);
    width:100vw;
    height: 100vh;
    background-size: cover;   
}

div{
    text-align: center; 
}

div h1{
    color: darkgray;
    font-size: 2em;
    padding-top: 50px;
}

div p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: darkgray;
}

section{    
    text-align: center;
    padding-top: 50px;
}

section a{
    color: darkgrey;
    text-decoration: none;
}

section a:hover{
    color: red;
}
footer{
    padding:80px;
    text-align: center;
    color: darkgray;
}