@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;
}

body{
    background-color: #D0D0D7;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
}

header{
    display: flex;
    background-color: #000000;
    padding: 10px;
    color: white;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

body> h1{
    padding: 0px 10px;
}

header > nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 5px;
}

header > nav > a{
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #2853c9;
    color:rgb(254, 253, 253);
    border-radius: 5px;
    font-weight: bold;
}

header > nav > a > abbr{
    text-decoration: none;
}

nav > a:hover{
    background-color: rgb(24, 201, 1);
    color: white;
    transition: background-color .5s;
}

button{
    background-color:#2853c9;
    color: white;
    font-weight: bold;
    padding:10px;
    border-radius: 8px;
    margin: 2px;
    
}

button > a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

main{
    max-width: 1000px;
    background-color: white;
    margin: 25px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.39); 
}

main > p{    
    text-align: justify;
    padding-top: 20px;
}

#color1{
    color: #2853c9;
}
ul{
    list-style-position: inside;
}
ol{
     list-style-position: inside;
}

h3{
    padding-top: 10px;
    font-style: italic;
    color: #2853c9;
}

div{
    display: flex;
    justify-content: center;
}


#qr_code{
    padding-top: 20px;
    text-align: center;
    
}

#qr_code > h3{
    color: red;
   padding: 15px 0px 20px 0px;  
}

footer{
    text-align: center;
    color:  black;
    padding-bottom: 20px;   
}

footer > p > a{
    font-size: 1.2em;
    text-decoration: none;
    color: red;
}

footer > p > a:hover{
    color: darkgreen;
}